@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
@import "reset.css";
@import "variables.css";

/* Components */
@import "Components/status-bar.css";
@import "Components/nav-bar.css";
@import "Components/screen-header.css";
@import "Components/user-component.css";
@import "Components/notify-number.css";
@import "Components/icon-row.css";
@import "Components/alt-screen-header.css";
@import "Components/screen-size.css";

/* Screens */
@import "Screens/header-welcome.css";
@import "Screens/login-form.css";
@import "Screens/friends-display.css";
@import "Screens/friends-list.css";
@import "Screens/find.css";
@import "Screens/find__open-chat.css";
@import "Screens/more.css";
@import "Screens/chat.css";

body {
    font-family: 'Open Sans', sans-serif;
    /* color: #2e363e; */
}

header > h1 {
    color: #2a3138;
}

.main-screen {
    padding: 100px var(--component-padding);
}