@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

/* .status-bar__phone:first-child span{
    margin-right: 0.2rem;
} */

.status-bar {
    display: flex;
    justify-content: center;
}

.status-bar__col {
    width: 33%;
    display: flex;
    align-items: center;
}

.status-bar__col:nth-child(2) {
    justify-content: center;
}

.status-bar__col:nth-child(3) {
    justify-content: flex-end;
}



/* .status-bar__col {
    display: 33%;    
} */