#chat-screen {
    background-color: #abc1d1;
    height: 1100vh;
}

#chat-screen::-webkit-scrollbar {
    display: none;
}

#chat-screen > .status-bar,
#chat-screen > .alt-header {
    position: fixed;
}

#chat-screen > .status-bar {
    z-index: 2;
}

#chat-screen > .alt-header {
    z-index: 1;
    background-color: #abc1d1;
}

.chat-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px var(--component-padding) 0px;
    height: 1000vh;
}

.chat-main__timestamp {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 200px;
    height: 35px; */
    padding: 10px 16px;
    border-radius: 25px;
    background-color: #9dadb8;
    color: white;
    font-size: 14px;
}

.chat-main__interlocutor {
    display: flex;
    width: 100%;
    margin-top: 25px;
}

.chat-main__interlocutor img {
    width: 60px;
    height: 60px;
    border-radius: 40%;
    margin-right: 10px;
}

.chat-main__interlocutor-name {
    font-size: 19px;
}

.chat-main__text {
    display: flex;
    align-items: flex-end;
    margin-top: 10px;
}

.chat-main__interlocutor-name, .chat-main__message-time {
    font-weight: 600;
    opacity: 0.5;
}

.chat-main__message-time {
    font-size: 15px;
    margin: 0px 7px;
}

.chat-main__interlocutor-bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 20px;
    font-weight: 500;
    width: 55px;
    height: 50px;

    border-radius: 35%;
    position: relative;
}

.chat-main__interlocutor-bubble::before,
.chat-main__interlocutor-bubble::after {
    position: absolute;
    content: "";
}

.chat-main__interlocutor-bubble::before {
    width: 12px;
    height: 16px;
    background-color: white;
    border-top-right-radius: 16px 12px;
    transform: translate(-26px, -16px);
}

.chat-main__interlocutor-bubble::after {
    width: 7px;
    height: 16px;
    background-color: #abc1d1;
    border-top-right-radius: 6px 12px;
    transform: translate(-31px, -16px);
}

.chat-main__interlocutor__own {
    flex-direction: row-reverse;
}

.chat-main__interlocutor__own .chat-main__text {
    flex-direction: row-reverse;
}

.chat-main__interlocutor__own .chat-main__interlocutor-bubble {
    background-color: var(--kakao-yellow);
    width: 160px;
    height: 50px;
    border-radius: 25%
}