/* .user-component__birthday {
    font-size: 17px;
    font-weight: 600;
    opacity: 0.7;
}

.user-component__birth-num, .user-component__birthday-btn, .user-component__birth-num__btn {
    border: none;
    background-color: white;
    cursor: pointer;
    font-size: 18px;
    opacity: 0.5;
    font-weight: 600;
} */

/* .user-component__column button, .user-component__column i {
    opacity: 0.5;
} */
.birthday-milestone {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-top: 1.2px solid rgba(0, 0, 0, 0.1);
}

.friends-screen {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.friends-screen__birthday__column {
    /* display: flex; */
    padding: 14px 0px
}

.friends-screen__birthday__hide__header {
    font-weight: 600;
    opacity: 0.5;
}

.friends-screen__birthday__hide__btn, .user-component__birth-num, .user-component__birth-num__btn {
    border: none;
    background-color: white;
    cursor: pointer;
    opacity: 0.4;
    font-weight: 600;
    padding: 0px;
}