.suggestion {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    border-top: 1.3px solid rgba(0, 0, 0, 0.1); 
}

.suggestion__row {
    display: flex;
}

.suggestion__link {
    width: 25%;
} 