/* @media (min-width: 100px) {
    .icon-row {
         display: flex;
         flex-wrap: wrap;
         justify-content: flex-start;
    }

    .icon-row__link {
         width: 25%;
    }
    
} */
.icon-row {
    display: flex;
    flex-wrap: wrap;
    opacity: 0.9;
}

.icon-row__link {
    width: 25%;
    position: relative;
}

.icon-row__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 10px 10px;
}

.icon-row__icon * {
    padding: 12px 0px;
    opacity: 0.9;
    font-size: 18px;
    font-weight: 600;
}

.icon-row__add-by-contacts:nth-child(2) {
    margin: 5px 0px;
}

.icon-row__add-by-contacts {
    padding: 0px;
}

.icon-row__calendar, .icon-row__drive, .icon-row__emoticons, .icon-row__themes, .icon-row__pay, .icon-row__openchat {
    opacity: 0.8;
    font-size: 16px;
    font-weight: 500;
}

.icon-row__drive-notify {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 4px; 
    padding: 0px;  
    top: 30px;
    right: 135px;
    opacity: 0.8;
}
