.nav__list {
    display: flex;
    justify-content: space-between;
    background-color: #f9f9fa;
    padding: 20px 50px;
    border-top: 1.5px solid rgba(0, 0, 0, 0.08);
    position: fixed;
    bottom: 0;
    width: 100vw;
    box-sizing: border-box;
}

.nav__link {
    color: #2e363e;
    position: relative;
}

.nav__notify {
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    position: absolute;
    left: 20px;
    bottom: 15px;
}

.nav__ellipsis__notify {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    position: absolute;
    right: -2px;
    top: -13px;
}