/* 위 | 오른쪽 | 아래 | 왼쪽 */
/* 위 | 가로방향 | 아래 */

.screen-header {
    /* 레이아웃 속성 */
    position: fixed;
    top: -10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    /* 박스 모델 속성 */
    width: 100vw;
    padding: 60px var(--component-padding) 20px;
    
    /* 비주얼 속성 */
    background-color: white;

    /* 기타 속성 */
    z-index: 1;
}

.screen-header__title {
    /* 텍스트 속성 */
    font-size: 32px;
    font-weight: 700;
}

.screen-header__menu {
    /* 레이아웃 속성 */
    display: flex;
    align-items: center;

    /* 비주얼 속성 */
    opacity: 0.75;

    /* 기타 속성 */
    transform: scale(1.1);
}

.screen-header__menu__btn {
    /* 박스 모델 속성 */
    margin-left: 25px;
}

.screen-header__cog-notify {
    /* 레이아웃 속성 */
    position: absolute;
    bottom: 20px;
    right: -3px;

    /* 박스 모델 속성 */
    width: 6px;
    height: 6px;

    /* 비주얼 속성 */
    border-radius: 3px;
}

.fa-comment-plus {
    /* 기타 속성 */
    transform: scale(0.87);
}

.screen-header__cog-rotate:hover {
    animation: RotateCog 2.5s linear infinite;
}

@keyframes RotateCog {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(1turn);
    }
} 