.status-bar {
    /* 레이아웃 속성 */
    position: fixed;
    top: 0;
    right: -9px;

    display: flex;
    justify-content: center;
    box-sizing: border-box;

    /* 박스 모델 속성 */
    width: 100vw;
    margin: 7px;

    /* 텍스트 속성 */
    font-size: large;
    font-weight: 600;
    
    /* 기타 속성 */
    z-index: 2;
}

.status-bar__col {
    /* 레이아웃 속성 */
    display: flex;
    align-items: center;

    /* 박스 모델 속성 */
    width: 33%;
}

div span,i {
    /* 박스 모델 속성 */
    margin-right: 0.2rem;
}

.status-bar__col:nth-child(2) {
    /* 레이아웃 속성 */
    justify-content: center;
}

.status-bar__col:nth-child(3) {
    /* 레이아웃 속성 */
    justify-content: flex-end;
}